:root {
  --error-color: #721c24;
  --primary-color: #4331ac;
  --secondary-color: #17009a;
  --tertiary-color: #10006c;
  --text-color: #343042;

  --footer-height: 50px;
  --header-height: 125px;
}
